.header {
    background: #081c24;

    .navbar-brand {
        font-weight: 700;
        color: #01d277;
        transition: .3s;

        &:hover {
            color: #ffffff;
        }
    }

    .navbar-nav {

        .nav-link {
            transition: .3s;

            &:hover, &:focus {
                color: #01d277;
            }
        }
    }

    form{
        position: relative;
    }

    .search-field {
        border: none;
        transition: 0.3s;
        width: 200px;

        &:focus{
            width: 350px;
        }
    }

    .search-results{
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 2000;
        width: 100%;
        margin-top: 5px;
    }

    .search-btn {
        background: #082931;
        border: none;

        &:hover {
            background: #01d277;
        }
    }

    .navbar-toggler{
        &:focus{
            outline: none;
        }
    }
}