.block-title{
    margin-bottom: 20px;
}

.movie-card {
    position: relative;
    top: 0;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: none;
    color: #000000;
    background: #ffffff;

    &:hover{
        color: #000000;
        text-decoration: none;

        .card-img-top{
            img{
                width: 110%;
            }
        }

    }

    .rating-label {
        position: absolute;
        z-index: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 20px;
        margin-top: 10px;
        margin-left: -5px;
        font-weight: 700;
        font-size: .75rem;
        color: #ffffff;
        background: #0b9a51;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 100%;
            z-index: 400;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 5px 0px 0;
            border-color: transparent #0b5a43 transparent transparent;
        }
    }

    .card-img-top {
        position: relative;
        width: 45%;
        max-width: 200px;
        border-radius: 0;
        overflow: hidden;

        .ratio{
            height: 0;
            width: 100%;
            padding-top: 150%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s;
        }
    }

    .card-body {
        position: relative;
        width: 55%;
        padding: 10px 15px;
        box-sizing: border-box;

        .card-title {
            font-size: 1rem;
        }

        .card-subtitle {
            max-width: 100%;
            margin-bottom: 25px;
            color: #4d4d4d;
        }

        .card-text{
            overflow: hidden;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            display: -webkit-box;
            -webkit-line-clamp: 4;
            font-size: .75rem;
            color: #4d4d4d;
        }

        .more{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px 15px;
            border-top: 1px solid #e8e8e8;
            font-size: .75rem;
            color: #4d4d4d;
        }
    }
}

.top-block {
    padding-top: 25px;

    & > * {
        display: flex;
    }
}
