.list-container{
    .list-menu{
        margin-bottom: 20px;
    }
}

.list-menu{
    li{
        padding: 0;
        transition: 0.3s;

        .list-link{
            padding: 12px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
            color: black;
            transition: .3s;

            &:hover{
                color: #ffffff;
                padding-left: 25px;
                text-decoration: none;
            }
        }

        &:hover{
            position: relative;
            background: #081c24;
            cursor: pointer;
            transition: .3s;
        }

        &.active{
            position: relative;
            background: #081c24;
            cursor: pointer;

            .list-link{
                padding-left: 25px;
                color: #ffffff;
            }
        }
    }
}
